[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
requests-threads = "*"
txrequests = "*"
datetimerange = "*"
schedule = "*"
lxml = "*"
pytube3 = "*"
tinydb = "*"
youtube-dl = "*"
ffmpeg = "*"

[requires]
python_version = "3.6"
